.bar_text{
    display : flex;
    flex-direction:columns;
    justify-content : space-between;
}


.h5c {
    display : flex;
    z-index : 5;
    flex-direction: columns;
}

.h5cd{
    font-size : 0.8em;
    justify-content : end;
}

.logmodalbody{
    display : flex;
    justify-content: center;
    width : 100%;
    align-items : center;
    flex-direction: columns;
}

.logmodala{
    display : flex;
    justify-content: center;
    width : 400px;
    align-items : center;
}

.logmodalb{
    display : flex;
    justify-content: center;
    width : 400px;
    align-items : center;
}

.logbtn{
    justify-content:center;
}

.logout_temp{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.login_temp{
    background-color : skyblue;
    width : 400px;
    height : 400px;
}


.login_form{
    display:flex;
    flex-direction:columns;
    justify-content:space-between;
}